JWT_KEY=AAAAB3NzaC1yc2EAAAABJQAAACEA3N1qw1YmAimBUVDFVgHdDulVCiQuBtCaDYQEf5FGMhM

GATEWAY=http://localhost:5000

HOST=localhost
PORT=5433
POSTGRES_DB=analytics_db
USERNAME=postgres
PASSWORD=postgres

KAFKA__BOOTSTRAPSERVERS=localhost:29092

KAFKA__GETITEMSBYPROJECTREQUEST__TOPIC=get-items-by-project-request
KAFKA__GETITEMSBYPROJECTREQUEST__GROUPID=analytics-get-items-request-group
KAFKA__GETITEMSBYPROJECTRESPONSE__TOPIC=get-items-by-project-response
KAFKA__GETITEMSBYPROJECTRESPONSE__GROUPID=analytics-get-items-response-group

KAFKA__GETITEMBYIDREQUEST__TOPIC=get-item-by-id-request
KAFKA__GETITEMBYIDREQUEST__GROUPID=analytics-get-item-request-group
KAFKA__GETITEMBYIDRESPONSE__TOPIC=get-item-by-id-response
KAFKA__GETITEMBYIDRESPONSE__GROUPID=analytics-get-item-response-group

KAFKA__GETPROJECTBYIDREQUEST__TOPIC=get-project-by-id-request
KAFKA__GETPROJECTBYIDREQUEST__GROUPID=analytics-get-project-request-group
KAFKA__GETPROJECTBYIDRESPONSE__TOPIC=get-project-by-id-response
DRESPONSE__GROUPID=analytics-get-project-response-group